
<ion-content>
    <div class="logo">
        <img src="../../assets/img/logo.png">
      </div>
    <ion-slides pager="true" [options]="slidesOpts" class="slidesContainer">
      <ion-slide>
        <div class="epn">
          <img src="../../../assets/img/epn.png">
        </div>
        <div class="contentSlide2">
          <div class="nosotros">
            <div class="user">
              
              <img src="../../../assets/img/yop.jpg">
              <h5>DAVID</h5>
            </div>
            <div class="user">
            
              <img src="../../../assets/img/maf.jpeg">
              <h5>MAFER</h5>
            </div>
            
          </div>
            <div class="textS">
              
                <p>Nuestra misión de ayudar a los animales van en camino...</p>
            </div>
            
            
        </div>
        
      </ion-slide>
        <ion-slide>
           
          <div class="contentSlide">
          
              <div class="textS">
                  <h1>ADOPTA</h1>
                  <p>Un amigo te espera</p>
              </div>
              
              
          </div>
          
        </ion-slide>
        <ion-slide>
          
          <div class="contentSlide">
              <div class="textS">
                  <h1>VOLUNTARIO</h1>
                  <p>Puedes ayudar en emergencias</p>
              </div>
             
          </div>
        </ion-slide>
        <ion-slide>
         
          <div class="contentSlide">
              <div class="textS">
                  <h1>DONACIONES</h1>
                  <p>Con tu ayuda es posible salvar a nuestros amigitos</p>
              </div>
              
            
          </div>
        </ion-slide> 
      </ion-slides>
      <div class="btnsIR">
          <ion-button (click)="login()" shape="round" class="bntIS" color="light"><p>Iniciar sesión</p></ion-button>
        <ion-button color="primary" (click)="registro()" shape="round" class="bntRG"><p>Registrarme</p></ion-button>
      
      
      </div>

   <!--<div class="inicio">
      
      <div class="options">
        <div class="logo">
          <img src="../../assets/img/logo.png">
        </div>
        <div class="btns">
            <ion-button  href="/login" shape="round" class="bntIS" color="light">Iniciar sesión</ion-button>
            <ion-button color="primary" href="/registro" shape="round" class="bntRG">Registrarme</ion-button>
        </div>
      </div>
    </div>-->
  </ion-content>

  

  
  