
.label-md-h{
    word-wrap: none !important;
    white-space: normal !important;
}
ion-label{
    word-wrap: none !important;
    white-space: normal !important;
}
h2,h1,h4,h5,h3{
    font-family: 'Righteous', cursive;
    margin: 0;

}

p,span,mat-panel-title,mat-radio-button,label{
    margin: 0;
    margin: 0;
    padding: 0;
    font-family: 'Exo', sans-serif;
}
ion-toolbar{
    padding: 0 1rem;
    font-size: 1rem;
    button{
        font-size: 1rem;
        background: transparent;
        color: #3bbfad;
      }
}

.novisto{
    background: #edf2fa;
    border-bottom: 2px solid #cdc9c95c;
}
.visto{
    background: white;
    border-bottom: 2px solid #cdc9c95c;
}